# gradle

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/

# mappings
g4mespeed-mappings-mc*.map
!g4mespeed-mappings-mc1.15.2.map
